:root {
  --primary-color: #ffffff; 
  --secondary-color: #000000; 
}

body {
  background-image: url("/public/images/background/collage.jpg");
  text-align: center; 
}

.App .firstSections {
  padding: 10px; 
  width: 300px; 
  margin: 30px auto;
  background-color: var(--primary-color);
}

.App .git-link {
  border: 5px solid var(--primary-color); 
  color: var(--secondary-color); 
  font-weight: bolder;
  font-size: 12px; 
}

 .App .git-link:hover {
 color: #808080; 
}

