.Search .typeWord {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.Search .smallerSection {
  margin: 20px auto;
  width: 250px;
  padding: 20px;
  background-color: #ffffff;
}

.Search ::placeholder {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
