.Search .typeWord {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.Search .secondSection {
  margin: var(--spacing); 
  width: 250px;
  padding: 20px;
  background-color: var(--primary-color);
}

.Search ::placeholder {
  color: var(--secondary-color); 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
