.Synonyms {
  margin: 20px auto;
  padding: 5px;
}

.Synonyms li {
  display: inline-block;
  font-size: 12px;
  background-color: 	#F0F0F0;
  color: var(--secondary-color); 
  border: 5px solid var(--primary-color); 
}


