.Synonyms ul {
  margin: 10px 20px;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding-right: 5px; 
  font-size: 14px;
  background-color:#F0F0F0;
  color: var(--secondary-color); 
  border: 5px solid var(--primary-color);
}


